@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<div class="container">
    <div class="content dash p-5 mt-5" id="content">
        <div class="row">
            <div class="row d-flex ">
                <h2 class="col text-primary">Dashboard</h2>
            </div>
        </div>
    </div>
</div>
</div>